<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/head :: head"/>

<body class="skin-blue fixed-layout">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<th:block th:include="fragments/preloader :: preloader"/>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <th:block th:include="fragments/topbar :: topbar"/>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <th:block th:include="fragments/left-sidebar :: left-sidebar"/>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Register School</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Basic Form</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row" id="validation">
                <div class="col-12">
                    <div class="card wizard-content">
                        <div class="card-body">
                            <h4 class="card-title">School Registration</h4>
                            <h6 class="card-subtitle"><label style="color: darkred">*</label> fields are mandatory</h6>
                            <form action="#" class="validation-wizard wizard-circle">
                                <!-- Step 1 -->
                                <h6>Personal information</h6>
                                <section>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="first-name"> School Name : <span class="danger">*</span>
                                                </label>
                                                <input type="text" class="form-control required" id="first-name"
                                                       name="name"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="last-name"> Telephone no. : <span class="danger">*</span>
                                                </label>
                                                <input type="text" class="form-control required" id="last-name"
                                                       name="lastName"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="dob">Email Address :</label>
                                                <input type="date" class="form-control" id="dob"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="email"> Address no. : <span class="danger">*</span> </label>
                                                <input type="email" class="form-control required" id="email"
                                                       name="emailAddress"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="cell-number">Street :</label>
                                                <input type="tel" class="form-control" id="cell-number"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="tel-number">Suburb :</label>
                                                <input type="tel" class="form-control" id="tel-number"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="address"> City : <span class="danger">*</span> </label>
                                                <input type="text" class="form-control required" id="address"
                                                       name="lastName">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="student-gender"> Student Gender : <span
                                                        class="danger">*</span> </label>
                                                <select class="custom-select form-control" id="student-gender"
                                                        name="location">
                                                    <option value="">Mixed Male & Female</option>
                                                    <option value="Amsterdam">Female only</option>
                                                    <option value="Berlin">Male only</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="offers-boarding"> Offers Boarding : <span
                                                        class="danger">*</span> </label>
                                                <select class="custom-select form-control" id="offers-boarding"
                                                        name="location">
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- Step 2 -->
                                <h6>Step 2</h6>
                                <section>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="max-units">Maximum Units Allowed :</label>
                                                <input type="text" class="form-control required" id="max-units">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="capacity">Number of student vacancies available :</label>
                                                <input type="text" class="form-control required" id="capacity">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- <th:block th:include="fragments/right-sidebar :: right-sidebar"/>-->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <th:block th:include="fragments/footer :: footer"/>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/popper/popper.min.js"></script>
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../static/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="../static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../static/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="../static/dist/js/pages/jasny-bootstrap.js"></script>

<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/moment/moment.js"></script>
<!-- This Page JS -->
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/wizard/jquery.steps.min.js"></script>
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/wizard/jquery.validate.min.js"></script>
<script src="http://eliteadmin.themedesigner.in/demos/bt4/assets/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<script>
    //Custom design form example
    $(".tab-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
        labels: {
            finish: "Submit"
        },
        onFinished: function (event, currentIndex) {
            Swal.fire("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");

        }
    });


    var form = $(".validation-wizard").show();

    $(".validation-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
        labels: {
            finish: "Submit"
        },
        onStepChanging: function (event, currentIndex, newIndex) {
            return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
        },
        onFinishing: function (event, currentIndex) {
            return form.validate().settings.ignore = ":disabled", form.valid()
        },
        onFinished: function (event, currentIndex) {
            Swal.fire("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
        }
    }), $(".validation-wizard").validate({
        ignore: "input[type=hidden]",
        errorClass: "text-danger",
        successClass: "text-success",
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element)
        },
        rules: {
            email: {
                email: !0
            }
        }
    })
</script>
</body>


</html>